/* responsive.css */

@media (max-width: 1280px) {
  main {
    /* max-width: 1200px; */
    padding: 0.625rem;
  }

  .header {
    top: 4%;
    max-width: 96%;
  }

  .menu-icon {
    display: block;
  }

  .nav-container {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 200px;
    flex-direction: column;
    padding: 80px 20px 20px;
    background-color: #ffffff;
    gap: 2rem;
    transition: right 0.3s ease;
    align-items: flex-start;
  }

  .nav-center,
  .nav-right {
    width: 100%;
    text-align: center;
  }

  .nav-center ul,
  .nav-right ul {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  .nav-center a,
  .nav-right a {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 0.3rem 0;
    font-size: 1rem;
    display: block;
  }

  .menu-toggle:checked~.nav-container {
    right: 0;
  }

  .hero-overlay {
    padding: 0 6rem;
  }

  .hero-content {
    max-width: 360px;
  }

  .footer-content {
    max-width: 1360px;
    padding: 40px 80px;
  }

  .newsletter-form input {
    width: 344px;
  }

  .category-card {
    max-width: 292px;
    max-height: 475px;
  }

  .grid-section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 235px);
    gap: 1.875rem;
  }
}

@media (max-width:768px) {
  .header {
    top: 2.5%;
    max-width: 70%;
    left: 38.3%;
  }
}