/* product-grid.css */
.highlight{
    grid-area: highlight;
    background-color: aqua;
}

.sneaker-purple{
    grid-area: sneaker-purple;
    background-color: lightgreen;
}

.model{
    grid-area: model;
    background-color: lightcoral;
}

.sneaker-color{
    grid-area: sneaker-color;
    background-color: lightblue;
}

.sneaker-white{
    grid-area: sneaker-white;
    background-color: lightgoldenrodyellow;
}

.sneaker-silver{
    grid-area: sneaker-silver;
    background-color: lightpink;
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "highlight highlight sneaker-purple sneaker-purple"
        "highlight highlight model sneaker-color"
        "sneaker-white sneaker-white model sneaker-silver";
    gap: 30px;
}